    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
<!--             <div class="container">
                <div class="col-lg-8 col-lg-offset-2"> -->
                    <h2>Publications</h2>
                    <ul style="list-style-type:none">
                        <li style="font-size:18px; margin:25px; padding:0px">Lopez-Osorio, F., Pickett, K.M., Carpenter, J.M., Ballif, B.A., Agnarsson, I., 2014. Phylogenetic relationships of yellowjackets inferred from nine loci (Hymenoptera: Vespidae, Vespinae, Vespula and Dolichovespula). Mol. Phylogenet. Evol. 73, 190–201. doi:10.1016/j.ympev.2014.01.007</li><br>
                    <p>Lopez-Osorio, F., Pickett, K.M., Carpenter, J.M., Ballif, B.A., Agnarsson, I., 2014. Phylogenetic relationships of yellowjackets inferred from nine loci (Hymenoptera: Vespidae, Vespinae, Vespula and Dolichovespula). Mol. Phylogenet. Evol. 73, 190–201. doi:10.1016/j.ympev.2014.01.007</p><br>
                    <a href="https://scholar.google.com/citations?user=zOAvFzMAAAAJ&hl=en" class="btn btn-default btn-lg">Visit Google Scholar profile</a>
                </div>
            </div>
        </div>
    </section>