    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
<!--             <div class="container">
                <div class="col-lg-8 col-lg-offset-2"> -->
                    <h2>Publications</h2>
                    <p style="margin:0 50px">Perrard, A., <font color="#C0C0C0"><b>Lopez-Osorio, F.</b></font>, Carpenter, J.M., 2016. Phylogeny, landmark analysis and the use of wing venation to study the evolution of social wasps (Hymenoptera: Vespidae: Vespinae). <i>Cladistics 32, 406–425</i>. <a href="http://onlinelibrary.wiley.com/doi/10.1111/cla.12138/abstract">doi:10.1111/cla.12138</a></p><br>
                    <p style="margin:0 50px"><font color="#C0C0C0"><b>Lopez-Osorio, F.</b></font>, Perrard, A., Pickett, K.M., Carpenter, J.M., Agnarsson, I., 2015. Phylogenetic tests reject Emery’s rule in the evolution of social parasitism in yellowjackets and hornets (Hymenoptera: Vespidae, Vespinae). <i>R. Soc. Open Sci. 2, 150159.</i> <a href="http://rsos.royalsocietypublishing.org/content/2/9/150159">doi:10.1098/rsos.150159</a></p><br>
                    <p style="margin:0 50px"><font color="#C0C0C0"><b>Lopez-Osorio, F.</b></font>, Pickett, K.M., Carpenter, J.M., Ballif, B.A., Agnarsson, I., 2014. Phylogenetic relationships of yellowjackets inferred from nine loci (Hymenoptera: Vespidae, Vespinae, <i>Vespula</i> and <i>Dolichovespula</i>). <i>Mol. Phylogenet. Evol. 73, 190–201</i>. <a href="http://www.sciencedirect.com/science/article/pii/S1055790314000207">doi:10.1016/j.ympev.2014.01.007</a></p><br>
                    <a href="https://scholar.google.com/citations?user=zOAvFzMAAAAJ&hl=en" class="btn btn-default btn-lg">Visit Google Scholar profile</a>
                </div>
            </div>
        </div>
    </section>